---
import Layout from "../layouts/Basic.astro";
---

<Layout title="It's alxl! c:">
  <main class="text-center">
    <h1 class="text-2xl">My name is alxl</h1>
    <p class="text-base">I make games, mods, and videos.</p>
  </main>
</Layout>
